<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>predict House Price</title>

    <!-- CSS only --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <style>
      body {
      background-image: url(http://www.luxurynhouse.com/rms/luxurynhouse/images/2.png);
      background-size: cover;
      }
    </style>
  </head>
    
  <body>
    <button type="button" class="btn btn-outline-light" onClick="location.href='/'">Home</button>
    <button type="button" class="btn btn-outline-light" onClick="location.href='/search'">Predict</button>
    <span style="color: #FFFFFF;">주택 값 예측 사이트.</span>
  </body>


</html>
